.navbar-brand img {
    height: 64px;
    position: relative;
    top: -20px;
}

/* Comparison Table */

.comparison-table {
    font-family: Calibri,Arial, sans-serif;
    table-layout: fixed;
    width: 100%;
}

.comparison-table .top-header td h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comparison-table .top-header td {
    padding: 15px 0 10px;
    overflow: hidden;
    background: #18bc9c;
}

.comparison-table .top-header a {
    border-bottom: none;
}

.comparison-table .top-header td img {
    width: 100%;
}

.comparison-table .top-header h2 {
    font-size: 28px;
    padding-bottom: 10px;
}


.comparison-table td.col1 {
    width: 31%;
}

.comparison-table td.col2,
.comparison-table td.col3,
.comparison-table td.col4 {
    width: 23%;
}

.comparison-table tr th,
.comparison-table tr td {
    padding: 10px 10px;
}

.comparison-table tr td {
    text-align: center;
}

.comparison-table tr th {
    font-weight: normal;
}

.comparison-table tr:nth-of-type(even) td:nth-of-type(odd) {
    background-color:#ffffff;
}

.comparison-table tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color:#ebebeb;
}

.comparison-table tr:nth-of-type(even) td:nth-of-type(even),
.comparison-table tr:nth-of-type(even) th {
    background-color:#f6f6f6;
}

.comparison-table tr:nth-of-type(odd) td:nth-of-type(even),
.comparison-table tr:nth-of-type(odd) th {
    background-color:#e3e3e3;
}

.comparison-table tr.top-header .col1 {
    background: white;
}

.comparison-table tr.group th {
    font-size: 18px;
    background-color:#808080;
    color: #fff;
}

.comparison-table span.yes {
    background:url("yes.png") center 2px no-repeat;
    padding: 0 10px;
}

.comparison-table span.no {
    background:url("no.png") center 2px no-repeat;
    padding: 0 10px;
}

.comparison-table a { position:relative; text-decoration:none; border-bottom: 1px dotted #18bc9c; }
.comparison-table a.tooltip-info:hover:after,
.comparison-table a.tooltip-info:hover:before { display:block;}
.comparison-table a.tooltip-info:before { content:attr(title-tooltip); display:block; width:200px; position:absolute; z-index:1000; bottom:150%; left:-10px; padding:5px 10px 8px 10px; text-align:left; color:#ffffff; display:none; background:#404040; /* CSS2 */ }
.comparison-table a.tooltip-info:after { content:""; display:block; width:0; height:0; position:absolute; z-index:1000; bottom:18px; left:-2px; border-left:6px solid transparent; border-right:6px solid transparent; border-top:6px solid #404040; display:none; background:transparent;}